.quick-actions {
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .quick-actions-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .quick-actions-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
    
  }
  
  .quick-action-item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    
  }
  
 
  
  .quick-action-icon {
    color: #28a745;
    font-size: 24px;
  }
  
  .quick-action-text {
    font-size: 14px;
    margin-top: 6px;
    color: #333;
  }

  .quick-action-image {
    width: 80px; 
    height: 80px;
    object-fit: contain;
    margin-bottom: 6px;
  }

  
  .swiper-button-prev,
.swiper-button-next {
  font-size: 5px; 
  border-radius: 50%;
  color: rgb(56, 56, 225); 
  display: flex;
  align-items: center;
  justify-content: center;

}


.swiper-button-prev {
  left: 10px; 
}

.swiper-button-next {
  right: 10px;
}

  

 

.quick-actions-swiper {
  padding-bottom: 10px; 
}


.swiper-pagination {
  position: relative;
  margin-top: 10px; 
  text-align: center;
}


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #666; 
  opacity: 0.5;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #28a745;
  opacity: 1;
} 
